Client/node_modules
Server/run.bat
Server/node_modules
Server/package-lock.json
Server/lib/node_modules
Server/lib/Web/lib/in_game_kkutu.js
Server/lib/Web/public/js/**
!Server/lib/Web/public/js/jquery.js
Server/lib/sub/auth.json
Server/lib/sub/global.json
.vscode
*.log
Server/lib/web.bat
Server/lib/game.bat